.search-box {
    max-width: 400px;
}

.search-box-stats {
    max-width: 125px;
}

.search-box,
.search-box-stats {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 35px;
    box-sizing: border-box;
    font-size: 16px;
}

.index-content {
    text-align: center;
}

/* Override Bootstrap margin on p element inside .header */
.header p {
    margin-bottom: 0; 
  }

.header {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
  

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 100%;
    margin: 20px 0 15px 0;
    padding: 0 2.5%;
    justify-content: center;
}

.card-grid-container {
    justify-content: center;
}


.sort-container {
    display: flex;
    justify-content: center;
    padding: 5px 15px 20px 15px;
}

.sort-section {
    margin-right: 5px;
}

.sort-order-section {
    margin-left: 5px;
}

.sort-section,
.sort-order-section {
    display: inline-block;
    vertical-align: middle;
}

body {
    padding-top: 65px;
    padding-bottom: 65px;
    min-height: 100vh;
    background: linear-gradient(to bottom, #e6f0ff, #b3d9ff);
}

.result-string {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

p {
    font-size: 18px;
    margin-left: 2px;
    margin-right: 2px;
}

.submit-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.homepage-search {
    font-size: 24px;
    margin-top: 20px;
}

.homepage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-row:hover .hover-card-image {
    display: block;
}


.hover-card-image {
    position: absolute;
    display: none;
    pointer-events: none;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hover-card-image img {
    max-width: 300px;
    max-height: 400px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-details,
.card-details-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

/* #cardTable tr > *:nth-child(1) {
    display: none;
} */

.table-container table {
    display: inline-table;
    width: auto;
}

/* .dataTables_wrapper table {
    display: inline-table;
    width: auto;
} */

.table-cell {
    text-align: left;
    padding: 5px;
}

.checklist-table tbody tr:nth-child(even) {
    background-color: #f2f2f2dc;
}

#cardTable th.sortable {
    cursor: pointer;
}

.card-img {
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.toggle-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50px;
    /* Adjust the size of the button */
    height: 50px;
    /* Adjust the size of the button */
    border-radius: 50%;
    /* Make the button circular */
    background-color: rgba(255, 255, 255, 0.3);
    /* Adjust the opacity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    /* Add any other styling for the toggle button */
}

.toggle-button::after {
    content: "\2192";
    /* Unicode arrow character */
    font-size: 24px;
    /* Adjust the size of the arrow */
    top: 10px;
    position: absolute;
    /* Add any other styling for the arrow */
}

.toggle-button::before {
    content: "\2190";
    /* Unicode arrow character pointing to the left */
    font-size: 24px;
    /* Adjust the size of the arrow */
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    /* Add any other styling for the arrow */
}


.toggle-button:hover {
    background-color: white;
}

.aspect-icons {
    display: flex;
    gap: 10px;
    /* Adjust the desired spacing between aspect icons */
    align-items: center;
}

#card-title-aspects {
    gap: 0px;
}

.aspect-icon img {
    /* Adjust the desired width and height */
    width: 30px;
    height: 30px;
    justify-content: center;
}

#card-title img {
    /* Adjust the desired width and height */
    width: 40px;
    height: 40px;
}

.parameter-input label img {
    width: 30px;
    height: 30px;
    justify-content: center;
}

.card-image {
    flex: 0 0 auto;
    margin-right: 20px;
    max-width: 336px;
    max-height: 468px;
}

.card-image img {
    max-width: 336px;
    max-height: 468px;
}

.card-info {
    flex: 1 1 auto;
    border: rgba(255, 255, 255, 0.3);
    justify-content: left;
}

.card-info div p {
    text-align: left;
}

.card-details {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}


.red-text {
    color: red;
}


.aspect-wrapper,
.math-search-wrapper,
.text-search-wrapper,
.main-content {
    /* display: flex; */
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.aspect-desc,
.aspect-examples,
.math-search-desc,
.text-search-desc {
    flex-basis: 48%;
    text-align: left;
    align-items: center;

}

.aspect-examples-wrapper,
.math-search-examples-wrapper,
.text-search-examples-wrapper {
    display: flex;
    align-items: center;
}

code {
    font-size: 16px;
}

.search-parameter {
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
}

.parameter-label {
    margin-right: 10px;
}

.parameter-input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.checkbox-wrapper {
    margin-right: 10px;
}

/* Increase checkbox size */
.checkbox-wrapper input[type="checkbox"] {
    transform: scale(1.75);
}

.parameter-input label input[type="checkbox"] {
    margin-left: 10px;
    transform: scale(1.75);
}

.aspect-icon-srch {
    margin-right: 2px;
}

.aspect-name {
    white-space: nowrap;
}



.aspect-icon-srch img {
    /* Adjust the desired width and height */
    width: 30px;
    height: 30px;
    /* justify-content: center; */
}

.label-space {
    display: inline-block;
    width: 10px;
    /* Adjust the width as desired */
}


.select-dropdown {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    /* Adjust the width as needed */
    height: 35px;
    -webkit-appearance: menulist-button;
}

.select-dropdown option {
    padding: 8px 12px;
    /* Adjust the padding as needed */
}

.select-dropdown-stats {
    width: 100px;
}

.form-container {
    max-width: 100%;
    /* Set the maximum width of the container */
    padding: 0 20px;
    /* Add some horizontal padding to prevent overflowing */
    margin: 0 auto;
    /* Center the container */
}

@media (min-width: 768px) {
    .form-container {
        max-width: 768px;
        /* Adjust the maximum width for larger screens */
    }

    .search-parameter {
        flex-wrap: nowrap;
    }

    .parameter-label {
        margin-bottom: 0;
        /* Remove the vertical spacing between parameters */
    }

    .parameter-input {
        flex-basis: 70%;
        /* Adjust the width of the input for larger screens */
    }

}

.parameter-input {
    flex-basis: 100%;
}

.form-container {
    max-width: 100%;
    /* Set the maximum width of the container */
    padding: 0 20px;
    /* Add some horizontal padding to prevent overflowing */
    margin: 0 auto;
    /* Center the container */
}

.search-parameter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.parameter-label {
    margin-bottom: 10px;
    /* Add some vertical spacing between parameters */
}

.parameter-input {
    flex-basis: 100%;
}


#advanced-btn {
    align-items: left;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#advanced-btn:hover {
    background-color: #45a049;
}

.advanced-btn {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    margin-left: 16px;
}

.home-btn {
    margin-right: 25px;
}

.advanced-btn:hover {
    background-color: #fff;
    color: #000;
}

.search-parameter {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.parameter-label {
    flex-basis: 100%;
    max-width: 200px;
}

.aspect-explain {
    /* max-width: 600px; */
    font-style: italic;
    text-align: left;
}

.advanced-btn {
    margin: 5px;
}



.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-parameter {
    width: 100%;
    margin-bottom: 10px;
}

.parameter-label {
    text-align: left;
    font-weight: bold;
}

.parameter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    /* Add this line */
}

.parameter-container .aspect-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.parameter-container .aspect-options,
.parameter-container .aspect-explain {
    flex-basis: 100%;
}

.parameter-container .aspect-options select {
    width: 100%;
    max-width: 300px;
    margin-top: 5px;
}

.search-parameter fieldset {
    width: fit-content;
    /* Add this line */
    margin: 0 auto;
    /* Add this line */
}




.submit-container {
    text-align: center;
    margin-top: 10px;
}


.parameter-input img {
    margin-left: 5px;
    margin-right: 2px;
}

.parameter-input label {
    display: flex;
    align-items: center;
}


.search-parameter {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.search-parameter .parameter-label {
    flex: 0 0 150px;
}

.search-parameter .parameter-input {
    flex: 1;
}

.aspect-options {
    margin-top: 10px;
}

.aspect-explain {
    margin-top: 5px;
}

.search-parameter {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.search-parameter .parameter-label {
    flex: 0 0 150px;
}

.search-parameter .parameter-input {
    flex: 1;
}

.aspect-container label {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.parameter-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (max-width: 600px) {
    .search-parameter {
        display: flex;
        flex-direction: column;
    }

    .parameter-input {
        align-items: flex-start;
        /* Align content to the left */
    }

    .parameter-label {
        max-height: 25px;
    }

    .card-grid {
        grid-template-columns: repeat(2, 1fr);
        /* Adjust the number as per your requirement */
    }


    /* Adjust styles for smaller screens */
    .table-container {
        overflow-x: scroll;
        /* Enable horizontal scrolling */
    }

    .table-container table {
        display: block;
        /* Switch to block display for better mobile view */
        width: 100%;
        /* Occupy full width on smaller screens */
    }
}

.aspect-container {
    display: flex;
    flex-wrap: wrap;
    /* Add this line to allow contents to wrap */
    text-align: left;
}

.search-parameter {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    /* Adjust the spacing as needed */
    margin-bottom: 10px;
    /* Adjust the spacing as needed */
}

.exclude-border {
    border-bottom: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-aspect {
    background-image: url('/static/images/heroism.png');
    background-repeat: no-repeat;
    background-position: left center;
}


@media (max-width: 825px) {

    .search-box {
        display: inline-block;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        max-width: 150px;
        box-sizing: border-box;
        font-size: 16px;
    }

    .submit-btn {
        max-width: 75px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.rarity-text {
    padding-left: 5px;
}

.Cunning {
    background-color: yellow;
}

.Vigilance {
    background-color: lightblue;
}

.Aggression {
    background-color: lightcoral;
}

.Heroism {
    background-color: beige;
}

.Villainy {
    background-color: lavender;
}

.Aggression-Villainy {
    background-color: salmon;
}

/* Default styles */
#cardTable_wrapper {
    display: inline-table; /* Default display */
  }
  
  /* Styles for screen width less than 1600px */
  @media screen and (max-width: 1599px) {
    #cardTable_wrapper {
      display: block;
    }

    .table-container {
        display: block;
    }
  }
  


  /* Style the hover image */
.hover-image {
    position: absolute;
    pointer-events: none; /* Ensures the image doesn't interfere with mouse events */
    /* Add any additional styling for the image */
  }
  
  #image-container img {
    max-width: 300px;
    max-height: 400px;
  }

  .card-row img {
    max-width: 300px;
    max-height: 400px;
  }

  .back-image {
    max-width: 400px;
    max-height: 500px;
  }