<!-- home.html -->
{% extends 'base.html' %}

{% block meta_description %}A fan site providing comprehensive search features for the upcoming Star Wars Unlimited card game from Fantasy Flight Games{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block content %}

    <div class="content index-content">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-success">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}
        <h1>Welcome to the Star Wars Unlimited DB</h1>
        <p>Use the search box below to find the cards you're looking for.</p>
        <form action="{{ url_for('search') }}" method="GET">
            <input class='homepage-search' type="text" name="q" placeholder="Search for cards...">
            <input class='submit-btn' type="submit" value="Search">
        </form>
        <p><a href="/search?q=set%3Asor">Spark of Rebellion Previews</a></p>
    </div>
{% endblock %}